{% extends 'mymcadmin/base.html' %}

{% block page %}
	<header>
		<md-sidenav class="md-hue-1" data-md-is-locked-open="true" data-md-whiteframe="6">
			<md-button class="md-icon-button" aria-label="Home" href="{% url 'root' %}">
				<md-icon md-font-set="material-icons">home</md-icon>
			</md-button>
			<md-divider class="bottom"></md-divider>
			<md-button class="md-icon-button" aria-label="Settings">
				<md-icon md-font-set="material-icons">settings</md-icon>
			</md-button>
		</md-sidenav>
	</header>
	<main>
		<md-content>
			{% block content %}TODO{% endblock %}
		</md-content>
	</main>
{% endblock %}

